Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

homeassistant-manifest-check:
  name: Validate Home Assistant manifest
  entry: python3
  language: system
  args:
  - -c
  ...

python-import-check:
  name: Check Python imports
  entry: python3
  language: system
  args:
  - -c
  ...

chore: update version to 0.4.1 [skip ci]
  pyproject.toml
Due: none

chore(main): release 0.4.1
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
Due: homeassistant-manifest-check

chore: update version to 0.4.1
  .github/workflows/pyproject.yaml
  pyproject.toml
Due: none

chore(main): release 0.5.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
Due: homeassistant-manifest-check

chore: sync version to 0.5.0 in pyproject.toml
  pyproject.toml
Due: none

chore: revert to release please release-type python
  .github/workflows/pyproject.yaml
  .release-please-config.json
Due: none

chore(main): release 0.4.1
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

docs: improve RBAC configuration to allow usage of manifests without cloning the repo
  README.md
Due: none

chore(main): release 0.4.2
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

feat: add detailed kubernetes node information functionality
  README.md
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/sensor.py
  docs/ENTITIES.md
  docs/EXAMPLES.md
  docs/index.md
  tests/conftest.py
  tests/test_coordinator.py
  tests/test_sensors.py
Due: python-import-check

chore: remove debug logging from coordinator and sensor
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/sensor.py
Due: python-import-check

feat: enhance Kubernetes sensor functionality with dynamic discovery and recovery tests
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/sensor.py
  tests/test_sensors.py
Due: python-import-check

refactor: improve KubernetesNodeSensor and tests for better readability
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/sensor.py
  tests/test_sensors.py
Due: python-import-check

chore: add network host argument to devcontainer configuration
  .devcontainer/devcontainer.json
Due: none

fix: streamline logging in get_nodes() and enhance type hinting
  custom_components/kubernetes/kubernetes_client.py
  docs/EXAMPLES.md
  tests/conftest.py
Due: python-import-check

chore(main): release 0.5.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

feat: Add pod entities support (#59)
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/sensor.py
  docs/ENTITIES.md
  tests/test_kubernetes_client.py
  tests/test_sensors.py
Due: python-import-check

feat: add metrics support for deployments to get cpu usage & memory usage per deployment
  .devcontainer/devcontainer.json
  custom_components/kubernetes/kubernetes
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/switch.py
  manifests/clusterrole.yaml
Due: python-import-check

feat: add metrics support for statefulsets (cpu and memory usage)
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/switch.py
Due: python-import-check

tests: update tests accordingly for CPU and memory metrics being added to deployments and statefulsets
  docs/ENTITIES.md
  tests/test_kubernetes_client.py
  tests/test_sensors.py
  tests/test_switch_platform.py
Due: none

tests: increase test coverage with additional tests
  tests/test_kubernetes_client.py
  tests/test_services.py
Due: none

feat: add pod entities support
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/sensor.py
  docs/ENTITIES.md
  tests/test_coordinator.py
  tests/test_kubernetes_client.py
  tests/test_sensors.py
Due: python-import-check

chore: add configuration schema for Kubernetes integration
  custom_components/kubernetes/__init__.py
Due: python-import-check

refactor: remove uid and label attributes from pod entities
  custom_components/kubernetes/sensor.py
  docs/ENTITIES.md
Due: python-import-check

fix: ensure pod metrics are fetched from all namespaces
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/switch.py
Due: python-import-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

