Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

homeassistant-manifest-check:
  name: Validate Home Assistant manifest
  entry: python3
  language: system
  args:
  - -c
  ...

python-import-check:
  name: Check Python imports
  entry: python3
  language: system
  args:
  - -c
  ...

refactor: consolidate Kubernetes service operations under a unified workload model
  custom_components/kubernetes/const.py
  custom_components/kubernetes/services.py
  custom_components/kubernetes/services.yaml
  custom_components/kubernetes/switch.py
  docs/CRONJOBS.md
  docs/EXAMPLES.md
  docs/SERVICES.md
  examples/configuration.yaml
  tests/test_kubernetes_integration.py
  tests/test_services.py
Due: python-import-check

test: ensure pod entity tests match current sensor attributes
  tests/test_sensors.py
Due: none

chore: reflect update to Python 3.14
  .github/workflows/tests.yaml
  pyproject.toml
Due: none

fix: remove device_info property from Kubernetes switch entities
  custom_components/kubernetes/switch.py
Due: python-import-check

feat: add counter for DaemonSets
  README.md
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/sensor.py
  docs/ENTITIES.md
  docs/RBAC.md
  docs/SETUP.md
  docs/index.md
  manifests/clusterrole.yaml
  tests/conftest.py
  tests/test_coordinator.py
  tests/test_kubernetes_client.py
  tests/test_kubernetes_integration.py
  tests/test_sensors.py
Due: python-import-check

chore: use Kubernetes logo for pod entities
  custom_components/kubernetes/sensor.py
Due: python-import-check

test: add daemonset counter and reflect pod icon changes
  tests/test_sensors.py
Due: none

chore(main): release 0.6.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

ci: do not longer execute various jobs within release PRs
  .github/workflows/hacs.yaml
  .github/workflows/hassfest.yaml
  .github/workflows/tests.yaml
Due: none

feat: ensure consistency in workload type attribute usage across components
  custom_components/kubernetes/const.py
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/switch.py
  tests/test_kubernetes_integration.py
  tests/test_sensors.py
  tests/test_switch.py
Due: python-import-check

feat: group all entities, sensors, etc. by devices wich represent k8s clusters and their namespaces for better organization
  custom_components/kubernetes/binary_sensor.py
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/device.py
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/switch.py
  custom_components/kubernetes/translations/en.json
  docs/ENTITIES.md
  docs/ENTITY_MANAGEMENT.md
  tests/test_binary_sensor.py
  tests/test_coordinator.py
  tests/test_device.py
  tests/test_sensors.py
  tests/test_switch_platform.py
Due: python-import-check

feat: enhance integration setup process
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/const.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/translations/en.json
  docs/CONFIGURATION.md
  docs/DEVELOPMENT.md
  docs/TROUBLESHOOTING.md
  examples/configuration.yaml
  tests/test_config_flow.py
  tests/test_kubernetes_client.py
Due: python-import-check

chore(main): release 0.7.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

docs: update README to improve contribution section
  README.md
Due: none

chore(main): release 0.7.1
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

fix: service data not being parsed and thus called correctly selecting multiple workloads
  custom_components/kubernetes/services.py
Due: python-import-check

test: add test for service calls with multiple entities (workloads)
  tests/test_services.py
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

build(ci): add Claude PR Assistant workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

chore: migrate to ruff, clean up dependencies, and improve Renovate tracking
  .devcontainer/devcontainer.json
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/sensor.py
  docs/DEVELOPMENT.md
  pyproject.toml
  renovate.json
  requirements.txt
  tests/test_binary_sensor.py
  tests/test_config_flow.py
  tests/test_device.py
  tests/test_kubernetes_client.py
  tests/test_sensors.py
  tests/test_services.py
  tests/test_switch.py
  tests/test_switch_platform.py
Due: python-import-check

build(ci): only trigger claude on-demand and with specific permissions
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

chore(Renovate): do not longer create fix commits for any kind of updates
  renovate.json
Due: none

chore: add .claude/ to gitignore
  .gitignore
Due: none

chore(main): release 0.7.2
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

