Repository tibuntu/homeassistant-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: homeassistant-manifest-check, python-import-check

homeassistant-manifest-check:
  name: Validate Home Assistant manifest
  entry: python3
  language: system
  args:
  - -c
  ...

python-import-check:
  name: Check Python imports
  entry: python3
  language: system
  args:
  - -c
  ...

chore: update GitHub workflows
  .github/workflows/hacs.yaml
  .github/workflows/hassfest.yaml
  .github/workflows/tests.yaml
Due: none

fix: sensors not longer being properly exposed
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/sensor.py
  tests/test_kubernetes_integration.py
Due: python-import-check

chore(main): release 0.2.4
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

fix: improve cleanup of callbacks and services in Kubernetes integration
  custom_components/kubernetes/__init__.py
  custom_components/kubernetes/switch.py
Due: python-import-check

chore(main): release 0.2.5
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

test: add comprehensive unit tests for Kubernetes integration components including config flow, coordinator, client, sensors, and services
  custom_components/kubernetes/config_flow.py
  custom_components/kubernetes/coordinator.py
  pyproject.toml
  tests/conftest.py
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_init.py
  tests/test_kubernetes_client.py
  tests/test_kubernetes_integration.py
  tests/test_sensors.py
  tests/test_services.py
Due: python-import-check

chore: remove stale-issue action
  .github/workflows/stale-issues.yaml
Due: none

chore: enhance GitHub Actions workflow for coverage reporting
  .github/workflows/tests.yaml
  .gitignore
Due: none

docs: simplify README.md
  README.md
Due: none

build(ci): improve test workflow logic
  .github/workflows/tests.yaml
Due: none

feat: add support for CronJobs
  README.md
  custom_components/kubernetes/const.py
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/kubernetes_client.py
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/services.py
  custom_components/kubernetes/services.yaml
  custom_components/kubernetes/switch.py
  docs/CRONJOBS.md
  docs/RBAC.md
  docs/SETUP.md
  manifests/clusterrole.yaml
  tests/test_coordinator.py
  tests/test_kubernetes_client.py
  tests/test_sensors.py
  tests/test_services.py
  tests/test_switch.py
Due: python-import-check

chore: remove bump options from release configuration
  .release-please-config.json
Due: none

chore(main): release 0.3.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

chore: update release configuration to enhance changelog structure and visibility
  .release-please-config.json
Due: none

chore(main): release 0.3.1
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

chore: remove file parameter from codecov action in CI workflow
  .github/workflows/tests.yaml
Due: none

fix: remove direct update logic from sensor classes and skip cleanup for count sensors
  custom_components/kubernetes/coordinator.py
  custom_components/kubernetes/sensor.py
Due: python-import-check

tests: add comprehensive tests for Kubernetes binary sensor and switch platforms
  custom_components/kubernetes/services.py
  tests/test_binary_sensor.py
  tests/test_kubernetes_integration.py
  tests/test_sensors.py
  tests/test_services.py
  tests/test_switch.py
  tests/test_switch_platform.py
Due: python-import-check

feat: enhance workload type validation and error handling in Kubernetes services
  custom_components/kubernetes/sensor.py
  custom_components/kubernetes/services.py
  tests/test_sensors.py
  tests/test_services.py
  tests/test_switch_platform.py
Due: python-import-check

chore(main): release 0.4.0
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
  pyproject.toml
Due: homeassistant-manifest-check

build(ci): do not longer ignore brands category within HACS action
  .github/workflows/hacs.yaml
Due: none

fix: restore pyproject.toml after accidental replacement
  pyproject.toml
Due: none

chore: ensure pyproject.toml is updated during releases
  .github/workflows/release.yaml
Due: none

chore: ensure pyproject.toml is updated during releases
  .github/workflows/pyproject.yaml
  .github/workflows/release.yaml
  .release-please-config.json
Due: none

chore(main): release 0.4.1
  .release-please-manifest.json
  CHANGELOG.md
  custom_components/kubernetes/manifest.json
Due: homeassistant-manifest-check

Path conditions:
  homeassistant-manifest-check: any of: ^custom_components/kubernetes/manifest\.json$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

  python-import-check: any of: ^custom_components/.*\.py$, but not: (?x)^(
  \.git/.*|
  \.pytest_cache/.*|
  __pycache__/.*|
  \.mypy_cache/.*|
  site/.*
)$

